.masonry {
  width: 100%;
  columns: 2;
  column-gap: 2px;
}

.masonry .item {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 2px;
  padding: 4px;
}

.masonry .item img {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
