.side-menu {
  min-width: 72px;
  padding: 16px 8px;
  font-size: 16px;
}

.side-menu:hover {
  color: #48aff0;
  background-color: rgba(19, 124, 189, 0.2);
}

.side-menu-checked {
  color: #48aff0;
  background-color: rgba(19, 124, 189, 0.2);
}

.close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(2);
  font-size: 0.5rem;
}
